#main-head{
    height: calc(100vh - 54px);
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-japanese-poster-japan-tourism-japanese-zephyr-image_16665.jpg");
    background-size: 50%;
}